body { 
    font-family: sans-serif;
    background: cornsilk;
    text-align: left;
    margin: 0.0000001em; 
}

.article {
    max-width: 680px;
    margin: 0 auto;
    padding: 24px;
    background: rgba(255, 0, 0, 0.000000001);
}
.article__heading {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}
.article__lead {
    font-family: serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}
.article__figure {
    margin: 0 auto;
}
.figure__image {
    max-width: 100%;
}
.figure__caption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
}
